$lightGrey: #e0e0e0;

.loading, .content {
  height: 90vh;
  width: 95%;
  margin: 3% auto;
  transition: 800ms all;
}

.content {
  display: flex;
  border: 1px solid $lightGrey;
  justify-content: space-around;
}

.loading {
  background: $lightGrey;
  display: block;
  h1{
    text-align: center;
    padding: 30% 0;
  }
}
