<div class="loading" role="main" *ngIf="isLoading">
  <h1>Loading...</h1>
</div>
<div class="content" role="main" *ngIf="!isLoading">
  <app-workers-list [workers]="workers"
                    (chooseWorkerEvent)="getWorkerFlightsInfo($event)">

  </app-workers-list>
  <app-flights-of-worker [dataSource]="flightsOfWorker"
                         (chooseFlightEvent)="getFlightInfo($event)">

  </app-flights-of-worker>
  <app-flight-information [flightInformation]="flightInformation"></app-flight-information>
</div>
