$lightGrey: #e0e0e0;
.content {
  display: flex;
  width: 95%;
  margin: 3% auto;
  border: 1px solid $lightGrey;
  justify-content: space-around;
  transition: 500ms all;
  height: 90vh;
}

.loading {
  background: $lightGrey;
  display: block;
  height: 100%;
  width: 100%;
}
